<h2>PROJECT CITYBIKE LUBLIN

<span style="color:red">We don't have complete data, so we have to do analysis two times. First we will compare city bike in Lublin in 2016 (March, April, May) and 2017(March, April, May), and next 2014(September, October, November) and 2016(September, October, November).

In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px

%matplotlib inline

<h1>1. FIRST PART OF ANALYSIS (2016 vs 2017)

In [3]:
c_b17 = pd.read_csv('c_b17')

c_b17.head(2)

,Unnamed: 0,uid,bike_name,start_time,end_time,start_place_id,end_place_id,price,cust_id,start_day,start_month,day_of_month,day_of_week,duration,duration_sec,duration_min,duration_hour,date,start_hour
0,0,26627713,69277,2017-03-21 00:02:18,2017-03-21 00:02:44,315259,315259,0,991786,80,3,21,1,0 days 00:00:26.000000000,26,0.433333,0.007222,2017-03-21,0
1,1,26627775,69756,2017-03-21 00:09:40,2017-03-21 00:22:59,673845,673845,0,864401,80,3,21,1,0 days 00:13:19.000000000,799,13.316667,0.221944,2017-03-21,0

In [4]:
#you want to get only part of data frame which include information about data from March to May

city_bike16 = pd.read_excel('2016.xlsx',sheet_name= ['marzec','kwiecień','maj'])

c_b16 = pd.concat(objs=[city_bike16['marzec'],city_bike16['kwiecień'],city_bike16['maj']])

c_b16.head()

,uid,bike_name,start_time,end_time,start_place_id,end_place_id,price,cust_id
0,15797660,69804,2016-03-21 08:50:34,2016-03-21 08:51:00,673962,673962,0,1014644
1,15797788,69647,2016-03-21 09:00:18,2016-03-21 09:06:57,674377,360123,0,876773
2,15797846,69832,2016-03-21 09:04:51,2016-03-21 09:09:50,674230,674214,0,878899
3,15797801,69501,2016-03-21 09:01:32,2016-03-21 09:09:50,673978,674008,0,1032595
4,15797845,69023,2016-03-21 09:04:50,2016-03-21 09:13:37,315265,315233,0,884463

In [9]:
#Create additional TIME columns (use info from second part of project)

c_b16['start_day'] = pd.DatetimeIndex(c_b16['start_time']).dayofyear

c_b16['start_month'] = pd.DatetimeIndex(c_b16['start_time']).month

c_b16['day_of_month'] = pd.DatetimeIndex(c_b16['start_time']).day

c_b16['day_of_week'] = pd.DatetimeIndex(c_b16['start_time']).dayofweek

c_b16['duration'] = c_b16['end_time']-c_b16['start_time']

c_b16['duration_sec']= pd.TimedeltaIndex(c_b16['end_time']-c_b16['start_time']).seconds

c_b16['duration_min'] = c_b16['duration_sec'] / 60

c_b16['duration_hour'] = c_b16['duration_sec']/3600

c_b16['date'] = pd.DatetimeIndex(c_b16['start_time']).date

c_b16['day_of_week'] = pd.DatetimeIndex(c_b16['start_time']).dayofweek

c_b16['start_hour'] = pd.DatetimeIndex(c_b16['start_time']).hour

c_b16

,uid,bike_name,start_time,end_time,start_place_id,end_place_id,price,cust_id,start_day,start_month,day_of_month,day_of_week,duration,duration_sec,duration_min,duration_hour,date,start_hour
0,15797660,69804,2016-03-21 08:50:34,2016-03-21 08:51:00,673962,673962,0,1014644,81,3,21,0,00:00:26,26,0.433333,0.007222,2016-03-21,8
1,15797788,69647,2016-03-21 09:00:18,2016-03-21 09:06:57,674377,360123,0,876773,81,3,21,0,00:06:39,399,6.650000,0.110833,2016-03-21,9
2,15797846,69832,2016-03-21 09:04:51,2016-03-21 09:09:50,674230,674214,0,878899,81,3,21,0,00:04:59,299,4.983333,0.083056,2016-03-21,9
3,15797801,69501,2016-03-21 09:01:32,2016-03-21 09:09:50,673978,674008,0,1032595,81,3,21,0,00:08:18,498,8.300000,0.138333,2016-03-21,9
4,15797845,69023,2016-03-21 09:04:50,2016-03-21 09:13:37,315265,315233,0,884463,81,3,21,0,00:08:47,527,8.783333,0.146389,2016-03-21,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172074,18558911,69924,2016-05-31 23:28:00,2016-05-31 23:40:00,315233,315235,0,1590938,152,5,31,1,00:12:00,720,12.000000,0.200000,2016-05-31,23
172075,18559033,69931,2016-05-31 23:33:00,2016-05-31 23:43:00,315235,315270,0,1278048,152,5,31,1,00:10:00,600,10.000000,0.166667,2016-05-31,23
172076,18559127,69921,2016-05-31 23:38:00,2016-05-31 23:48:00,315246,674023,0,996934,152,5,31,1,00:10:00,600,10.000000,0.166667,2016-05-31,23
172077,18559307,69902,2016-05-31 23:49:00,2016-05-31 23:50:00,674385,674385,0,1575574,152,5,31,1,00:01:00,60,1.000000,0.016667,2016-05-31,23
172078,18559240,69924,2016-05-31 23:45:00,2016-05-31 23:53:00,315235,674393,0,1590938,152,5,31,1,00:08:00,480,8.000000,0.133333,2016-05-31,23

What we will compare? 

-